# Configuration file that should be modified as needed to suit your site/system setup

# Sets environment variables primarily for logging and verbosity such that more runtime information is available in test output
# Any environment variables set here are ones that will be set for all tests of a specific category (e.g. MPI, SLURM, GPU) - individual test-specific env vars should be sepcified in test body

# Sets modules that may need to be loaded when using MPI and/or GPUs

# NOTE: Defaults are for a cray-mpich MPI implementation and lmod module management system - edit as needed for your site/system setup

############
# ENV VARS #
############

# MPI env vars
mpi-env: MPICH_ENV_DISPLAY=1
mpi-env: MPICH_MEMORY_REPORT=1
mpi-env: MPICH_OFI_VERBOSE=1

# OMP env vars
omp-env: OMP_DISPLAY_AFFINITY=TRUE
omp-env: OMP_DISPLAY_ENV=VERBOSE

# scheduler env vars (uncomment if need specific job scheduler env vars set)
#sched-env: ENV_VAR

# GPU env vars
gpu-env: MPICH_GPU_SUPPORT_ENABLED=1


###########
# MODULES #
###########

# GPU modules
gpu-mod: rocm 
gpu-mod: craype-accel-amd-gfx90a

# MPI modules (uncomment if need to load specific modules for your MPI implementation)
#mpi-mod: MODULE_NAME

# Scheduler modules (uncomment if need to load specific modules for your job scheduler)
#sched-mod: MODULE_NAME


############
# COMMANDS #
############

# Module commands
mod-cmd: module list

# Scheduler commands (uncomment if need specific job scheduler commands)
#sched-cmd: COMMAND

# GPU commands
gpu-cmd: rocm-smi --showhw
gpu-cmd: rocm-smi --showdriverversion

